<div class="row">
  <div class="col-md-6">
    <h3>Wednesday</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:30</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>R for Reproducible Scientific Analysis, Part 1</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>End of Day 1</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Version control with Git</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>R for Reproducible Scientific Analysis, Part 2</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>End of Day 2</td> </tr>
    </table>
  </div>
</div>
